# Влияние витамина C на рост зубов морских свинок
В эксперименте изучалось влияние витамина C на рост одонтобластов морских свинок. 

<img src="https://upload.wikimedia.org/wikipedia/commons/1/1c/Enamelmineralization11-17-05.jpg" alt="Drawing" style="width: 300px;"/>

Рассматривалось три дозы витамина (0.5, 1 и 2 мг) и два способа его приёма (апельсиновый сок и аскорбиновая кислота). В каждой из 6 групп по уровням двух факторов были произведены измерения для 10 морских свинок.

In [2]:
import pandas as pd
import seaborn as sns
sns.set_style('darkgrid')

In [3]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from statsmodels.graphics.factorplots import interaction_plot

In [5]:
df = pd.read_csv('ToothGrowth.csv')

In [11]:
model = ols('len ~ C(supp) + C(dose) + C(dose):C(supp)', df).fit()
aov = anova_lm(model)
aov['eta_sq'] = aov[:-1]['sum_sq'] / aov['sum_sq'].sum()   
aov.round(4)

                   df     sum_sq    mean_sq       F  PR(>F)  eta_sq
C(supp)           1.0   205.3500   205.3500  15.572  0.0002  0.0595
C(dose)           2.0  2426.4343  1213.2172  92.000  0.0000  0.7029
C(dose):C(supp)   2.0   108.3190    54.1595   4.107  0.0219  0.0314
Residual         54.0   712.1060    13.1871     NaN     NaN     NaN